html {
  background-color: #333333;
}
body {
  margin: 0;
}
svg {
  fill: wheat;
}
#container {
  color: #fff;
  text-align: center;
  padding: 16px 0 32px 0;
  max-width: 1200px;
  min-width: 330px;
  width: calc(100% - 16px);
  border-radius: 15px;
  box-shadow: 0 0 15px 1px #000;
  position: fixed;
  left: calc(50% - 600px);
}
#container input {
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 1.8;
  outline: 0;
  border-radius: 6px;
  border: 1px solid #22222288;
}
#container button {
  font-size: 20px;
  padding: 6px 7px;
  position: relative;
  top: 1px;
  border: 1px solid #22222288;
  min-width: 70px;
  max-width: 75px;
  border-radius: 6px;
}
#container button:hover {
  box-shadow: 0 0 5px 1px #b8b5b5;
}
#header {
  position: fixed;
  top: 0;
  left: calc(50% - 160px);
}
#output {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: left;
  font-size: 22px;
  margin: 155px 0 0 0;
  overflow-y: auto;
  height: 757px;
}
.task {
  flex: calc(20% - 32px);
  position: relative;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 77px;
  flex-wrap: wrap;
  max-width: calc(20% - 32px);
  margin: 0 16px 32px 16px;
  background-color: #404040;
  border-radius: 6px;
}
.task input[type=checkbox] {
  flex: 3%;
  margin-right: 16px;
}
.task input[type=text] {
  max-width: calc(100% - 8px);
}
.task i {
  flex: 33%;
  max-width: 25px;
  position: relative;
  left: 5px;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
}
.task i:hover {
  box-shadow: 0 0 15px 1px rgba(128, 128, 128, 0.211);
}
.editTask {
  border-radius: 6px;
  position: absolute;
  flex: 100%;
  max-width: 100%;
  height: -webkit-fill-available;
  background-color: #808080;
}
.posR {
  position: relative;
}
.red-text {
  color: red;
}
.text-task {
  color: inherit;
  white-space: nowrap;
  flex: 80%;
  overflow: hidden;
  max-width: 80%;
  text-overflow: ellipsis;
  margin-block: 0;
}
.text-task:hover {
  white-space: pre-wrap;
  text-overflow: clip;
  overflow-x: auto;
}
.done-text {
  color: #6e6e6e;
  text-decoration: line-through;
}
.none {
  display: none !important;
}
#leftControl {
  height: 0;
  display: flex;
  justify-content: start;
}
#deleteAll {
  height: 25px;
  padding: 5px;
  margin-top: 15px;
  border-radius: 6px;
  cursor: pointer;
}
#deleteAll:hover {
  box-shadow: 0 0 15px 1px rgba(128, 128, 128, 0.211);
}
.control {
  margin: 0 16px;
}
@media (max-width: 1200px) {
  #container {
    left: 8px;
  }
}
@media (max-width: 900px) {
  .task {
    flex: 33%;
    margin: 0 4px 16px 9px;
    max-width: calc(31% - 2px);
  }
}
@media (max-width: 750px) {
  .task {
    flex: 50%;
    margin: 0 4px 7px 4px;
    max-width: calc(50% - 8px);
  }
  .editTask input {
    margin: 0 15px;
  }
  .text-task {
    max-width: 85%;
    flex: 85%;
  }
}
@media (max-width: 500px) {
  .task {
    flex: 50%;
    margin: 0 4px 7px 4px;
    max-width: 100%;
  }
  .text-task {
    max-width: 88%;
    flex: 88%;
  }
}
